.searchBar {
  display: flex;
  justify-content: center;
}

.inputSearch {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.inputSearch:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonSearch {
  padding: 10px 15px;
  background-color: #1a2530 !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonSearch:hover {
  background-color: rgba(
    26,
    37,
    48,
    0.9
  ); /* Ajustez l'opacité selon vos préférences */
}

/* Ajoutez ce style si vous voulez centrer la barre de recherche */
.containerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez la hauteur en fonction de vos besoins */
}
